<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdvanceJavaProject</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginServlet</display-name>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>com.eums.controllers.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRLoginServlet</display-name>
    <servlet-name>HRLoginServlet</servlet-name>
    <servlet-class>com.eums.controllers.HRLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRLoginServlet</servlet-name>
    <url-pattern>/HRLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeEnrolledTrainingServlet</display-name>
    <servlet-name>EmployeeEnrolledTrainingServlet</servlet-name>
    <servlet-class>com.eums.controllers.EmployeeEnrolledTrainingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeEnrolledTrainingServlet</servlet-name>
    <url-pattern>/EmployeeEnrolledTrainingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeUpcommingTrainingServlet</display-name>
    <servlet-name>EmployeeUpcommingTrainingServlet</servlet-name>
    <servlet-class>com.eums.controllers.EmployeeUpcommingTrainingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeUpcommingTrainingServlet</servlet-name>
    <url-pattern>/EmployeeUpcommingTrainingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRequestTrainingServlet</display-name>
    <servlet-name>EmployeeRequestTrainingServlet</servlet-name>
    <servlet-class>com.eums.controllers.EmployeeRequestTrainingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRequestTrainingServlet</servlet-name>
    <url-pattern>/EmployeeRequestTrainingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FillFeedbackServlet</display-name>
    <servlet-name>FillFeedbackServlet</servlet-name>
    <servlet-class>com.eums.controllers.FillFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FillFeedbackServlet</servlet-name>
    <url-pattern>/FillFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveFeedbackServlet</display-name>
    <servlet-name>RetrieveFeedbackServlet</servlet-name>
    <servlet-class>com.eums.controllers.RetrieveFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveFeedbackServlet</servlet-name>
    <url-pattern>/RetrieveFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTrainingServlet</display-name>
    <servlet-name>CreateTrainingServlet</servlet-name>
    <servlet-class>com.eums.controllers.CreateTrainingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTrainingServlet</servlet-name>
    <url-pattern>/CreateTrainingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTrainingServlet</display-name>
    <servlet-name>ViewTrainingServlet</servlet-name>
    <servlet-class>com.eums.controllers.ViewTrainingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTrainingServlet</servlet-name>
    <url-pattern>/ViewTrainingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAvailableFeedbackServlet</display-name>
    <servlet-name>ViewAvailableFeedbackServlet</servlet-name>
    <servlet-class>com.eums.controllers.ViewAvailableFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAvailableFeedbackServlet</servlet-name>
    <url-pattern>/ViewAvailableFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFeedbackRequest</display-name>
    <servlet-name>ViewFeedbackRequest</servlet-name>
    <servlet-class>com.eums.controllers.ViewFeedbackRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFeedbackRequest</servlet-name>
    <url-pattern>/ViewFeedbackRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFeedbackRequestServlet</display-name>
    <servlet-name>ViewFeedbackRequestServlet</servlet-name>
    <servlet-class>com.eums.controllers.ViewFeedbackRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFeedbackRequestServlet</servlet-name>
    <url-pattern>/ViewFeedbackRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.eums.controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTrainingModificationServlet</display-name>
    <servlet-name>ViewTrainingModificationServlet</servlet-name>
    <servlet-class>com.eums.controllers.ViewTrainingModificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTrainingModificationServlet</servlet-name>
    <url-pattern>/ViewTrainingModificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRModifyTrainingInputServlet</display-name>
    <servlet-name>HRModifyTrainingInputServlet</servlet-name>
    <servlet-class>com.eums.controllers.HRModifyTrainingInputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRModifyTrainingInputServlet</servlet-name>
    <url-pattern>/HRModifyTrainingInputServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRModifyTrainingServlet</display-name>
    <servlet-name>HRModifyTrainingServlet</servlet-name>
    <servlet-class>com.eums.controllers.HRModifyTrainingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRModifyTrainingServlet</servlet-name>
    <url-pattern>/HRModifyTrainingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveTrainingServlet</display-name>
    <servlet-name>ApproveTrainingServlet</servlet-name>
    <servlet-class>com.eums.controllers.ApproveTrainingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveTrainingServlet</servlet-name>
    <url-pattern>/ApproveTrainingServlet</url-pattern>
  </servlet-mapping>
</web-app>